<app-nav></app-nav>
<div class="container" style="margin-top: 100px;"></div>

  
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <h1>Left Player Board</h1>
      <table border="1px" style="text-align: center;">
        <tbody>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc"></td>
            <td style="width:30px;background-color:#ccc">a</td>
            <td style="width:30px;background-color:#ccc">b</td>
            <td style="width:30px;background-color:#ccc">c</td>
            <td style="width:30px;background-color:#ccc">d</td>
            <td style="width:30px;background-color:#ccc">e</td>
            <td style="width:30px;background-color:#ccc">f</td>
            <td style="width:30px;background-color:#ccc">g</td>
            <td style="width:30px;background-color:#ccc">h</td>
            <td style="width:30px;background-color:#ccc">i</td>
            <td style="width:30px;background-color:#ccc">j</td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">1</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of leftPlayerBoard.row1'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">2</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of leftPlayerBoard.row2'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">3</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of leftPlayerBoard.row3'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">4</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of leftPlayerBoard.row4'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">5</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of leftPlayerBoard.row5'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">6</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of leftPlayerBoard.row6'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">7</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of leftPlayerBoard.row7'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">8</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of leftPlayerBoard.row8'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">9</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of leftPlayerBoard.row9'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">10</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of leftPlayerBoard.row10'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" style="padding-left: 100px; padding-top: 100px;">

      <p><a class="btn btn-lg btn-primary button" (click)="setUpNewGame()">New Game</a></p>
      <p><a class="btn btn-lg btn-primary button" (click)="setIntrvl()">Start</a></p>
      <p><a class="btn btn-lg btn-primary button" (click)="oneStep()">One step</a></p>
      <p><a class="btn btn-lg btn-primary button" (click)="clearInterval()">Stop</a></p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h1>Right Player Board</h1>
      <table border="1px" style="text-align: center;">
        <tbody>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc"></td>
            <td style="width:30px;background-color:#ccc">a</td>
            <td style="width:30px;background-color:#ccc">b</td>
            <td style="width:30px;background-color:#ccc">c</td>
            <td style="width:30px;background-color:#ccc">d</td>
            <td style="width:30px;background-color:#ccc">e</td>
            <td style="width:30px;background-color:#ccc">f</td>
            <td style="width:30px;background-color:#ccc">g</td>
            <td style="width:30px;background-color:#ccc">h</td>
            <td style="width:30px;background-color:#ccc">i</td>
            <td style="width:30px;background-color:#ccc">j</td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">1</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of table2.row1'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">2</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of table2.row2'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">3</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of table2.row3'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">4</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of table2.row4'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">5</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of table2.row5'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">6</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of table2.row6'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">7</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of table2.row7'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">8</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of table2.row8'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">9</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of table2.row9'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
          <tr style="height:30px;">
            <td style="width:30px;background-color:#ccc">10</td>
            <td [class.black]="cell == '2' || cell == '3'" *ngFor='let cell of table2.row10'>
              <div *ngIf="cell == '3'; then thenBlock"></div>
              <ng-template #thenBlock>X</ng-template>
              <div *ngIf="cell == '2'; then thenBlock2"></div>
              <ng-template #thenBlock2></ng-template>
              <div *ngIf="cell == '1'; then thenBlock3"></div>
              <ng-template #thenBlock3>X</ng-template>
              <div *ngIf="cell == '0'; then thenBlock4"></div>
              <ng-template #thenBlock4></ng-template>
              <div *ngIf="(cell != '0') && (cell != '1') && (cell != '2') && (cell != '3'); then thenBlock5"></div>
              <ng-template #thenBlock5>{{cell}}</ng-template>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <h1 *ngFor='let win of winner' style="text-align: center; padding-top: 100px;">
    <div *ngIf="win == '1'; then thenBlock"></div>
    <ng-template #thenBlock>Left Player  is the winner</ng-template>
    <div *ngIf="win == '2'; then thenBlock2"></div>
    <ng-template #thenBlock2>Right Player  is the winner</ng-template>
    <!----><div *ngIf="win; then clearInterval()"></div>
  </h1>
